* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #171717;
}

body {
  min-width: 1320px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #171717;

}


/* 헤더 시작 */
#header.header-scrolled {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

/* 헤더 시작 */
#header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

#header:hover {
  background: rgb(255, 255, 255);
}

.header_inner {
  width: 1140px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.header_inner li {
  float: left;
}


.header_inner li:nth-child(-n+3), .header_inner li:nth-child(5), .header_inner li:nth-child(6) {
  padding: 34px 0 0 74px;}

.header_inner a {
  font-size: 15px;
}

.search-form{
  padding: 34px 0 0 18px;
}


h1 {
  padding: 26px 0 0 81px;
}

.header_inner a:nth-child(-n+3):hover,
.header_inner a:nth-child(n+5):hover {
  color: #b1a395;

}



/* 헤더 슬라이더 */
.submenu_wrap {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100px;
}

.submenu_inner {
  position: relative;
  margin: auto;
  text-align: left;
  width: 1140px;
  height: 100px;

}

.submenu_inner ul {
  float: left;
  width: 140px;
}

.sub_left {
  position: absolute;
  left: 74px;
}

.sub_left ul:nth-child(1) {
  width: 115px;
}

.sub_left ul:nth-child(2) {
  width: 153px;
}

.sub_right {
  position: absolute;
  right: 100px;
}

.submenu ul li a {
  color: #796d60;
}

.submenu li a:hover {
  color: #b1a395;
}


/* 섹션 1 */
#section1 {
  height: 644px;
  width: 100%;
}



/* 섹션 2 */
#section2 {
  margin: auto;
  width: 1320px;
  height: 800px;
  padding-bottom: 171px;
}

/* 왼쪽 */
.section2_left {
  float: left;
  width: 227px;
}

.symbol {
  width: 159px;
  height: 156px;
  padding: 100px 0 0 78px;
  filter: drop-shadow(2px 2px 2px rgba(117, 117, 117, 0.712));
  
}

.symbol_text { 
  background: url(../images/main/main_section2_left.jpg) no-repeat 0px 117px; /* 모자이크 사진 */
  width: 228px;
  height: 430px;
  padding-top: 260px;
  text-align: center;
  box-sizing: border-box;
}

.symbol_text p {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}


/* 중앙 */ /*달,별있는 사진+글자박스*/
.section2_right_left {
  position: relative;
  float: left;
  width: 344px;
  height: 627px;
  background: url(../images/main/main_section2_middle.png) no-repeat;
}

.moon_star {
  position: absolute;
  top: 176px;
  left: 121px;
  filter: drop-shadow(3px 3px 5px rgba(255, 252, 238, 0.329));
}



/* 오른쪽 */
/* 비누 */
.section2_right {
  float: right;
  width: 980px;
  height: 700px;
  background: url(../images/main/main_section2_butterfly2.png) no-repeat 635px 179px;
  padding-top: 171px;
}

.section2_right_right {
  float: right;
  width: 277px;
  height: 275px;
  padding-top: 215px;
}

/* 제이쿼리!!!!!!!!!!!!!!!!오른쪽으로 슬라이더!!!!!!!!!!! */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 제이쿼리!!!!!!!!!!!!!!!!오른쪽으로 슬라이더!!!!!!!!!!! */

.text_box {
  width: 270px;
  padding: 465px 0 0 395px;
}

/*글자박스*/
.textbox_title {
  border: 0.5px solid #858585;
  font-family: 'Noto Serif KR', serif;
  font-weight: bold;
  width: 168px;
  height: 42px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
}

.textbox_explan {
  padding-top: 24px;
}

.explan1 {
  font-size: 13px;
}

.explan2 {
  font-family: 'Noto Serif KR', serif;
  padding-top: 8px;
  font-size: 14px;
}

.text_box b {
  color: #312113;
  font-weight: 600;
  font-size: 14px;
}




#section3 {
  /* 섹션 3 */
  margin: auto;
  width: 1320px;
  height: 455px;
  text-align: center;
}

.section2_title {
  width: 613px;
  height: 160px;
  position: absolute;
  font-size: 90px;
  line-height: 90px;
  color: #312113;
  font-family: 'Lora', serif;
  letter-spacing: 7px;
  font-weight: 400;
  padding: 225px 0px 0px 179px;
  z-index: 98;
}

.section3_left {
  float: left;
  width: 295px;
}

.section3_left_inner {
  width: 250px;
  font-size: 16px;
  margin: 23px auto 0;
  letter-spacing: 3px;

}

.section3_right {
  float: left;
  width: 897px;
  padding-left: 67px;
}

.section3_right img {
  float: left;
}


.section3_right_inner {
  float: right;
  padding: 106px 0 0 0;
}

.section3_title {
  font-family: 'Noto Serif KR', serif;
  font-weight: 200;
  font-size: 21px;
}

.section3_top {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 700;
}

.section3_middle {
  font-size: 16px;
}

.section3_bottom {
  font-size: 17px;
}

.section3_middle small {
  font-size: 13px;
}

.section3_btn a {
  margin-top: 30px;
  border: 1px solid #858585;
  display: inline-block;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  /* border-radius: 50px; */
  box-shadow: 4px 5px 2px #999;
  transition: all 0.7s;
}

.section3_btn a:hover {
  box-shadow: 0px 0px 0 #999;
  transform: translate(10px, 10px);
}




/* 섹션 4 */
#section4 {
  width: 1320px;
  margin: auto;
  height: 960px;
}

.section4_flower{
  float: left;
  width: 534px;
  padding-top: 467px;
}

.section4_title {
  font-family: 'Noto Serif KR', serif;
  font-size: 15px;
  height: 35px;
  width: 753px;
  border-top: 1px solid #171717;
  border-bottom: 1px solid #171717;
  padding: 12px 0 0px 20px;
  display: flex;
  flex-direction: row;
  float: right;
}

.section4_title div:nth-child(2) {
  flex-basis: 430px;
}


.section4_explan {
  padding-top: 35px;
  float: right;
  width: 718px;
}

.section4_top {
  font-size: 12px;
  line-height: 18px;
}

.section4_middle {
  font-size: 18px;
  padding: 15px 0 12px 0;
}


.section4_left {
  float: left;
  padding: 0px 76px 0 0px;
  text-align: right;
  width: 218px;
}

.section4_img {
  width: 424px;
  height: 629px;
  float: right;
}

.section4_subtitle {
  font-family: 'Lora', serif;
  color: #312113;
  font-size: 70px;
  letter-spacing: 5px;
  line-height: 90px;
}

.section4_btn {
  padding: 90px 4px 0 0;
  color: #66582b;
}

.section4_btn p {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 600;
  border: 1px solid #66582b;
  border-radius: 50px;
}

.explan_text {
  padding-top: 35px;
  clear: both;
}




/* 섹션 5 */
#section5 {
  width: 1320px;
  height: 639px;
  margin: auto;
  text-align: center;
  background: url(../images/main/main_section5_bg.jpg) no-repeat center top;
}

.section5_text {
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
  text-shadow: 3px 3px 5px #fbd379;
  padding: 48px 0;
}

.insta_img ul {
  float: left;
  width: 986px;
  padding: 0 0 0 172px;

}

.insta_img li {
  float: left;
  width: 302px;
}

.insta_img a {
  filter: drop-shadow(0px 2px 7px rgba(117, 117, 117, 0.712));
}

.insta_middle {
  margin: 0 40px;
}


.insta_img li img:last-child{display:none} 
.insta_img li:hover img:first-child{display:none} 
.insta_img li:hover img:last-child{display:inline-block}







/* 푸터 */
#footer {
    margin-top: 132px;
    border-top: 1px solid #ededed;
    text-align: center;
  }
  
  .footer_inner {
    width: 1320px;
    height: 138px;
    margin: auto;
    padding: 30px 0 0 40px;
    box-sizing: border-box;
  }
  
  .footer_left {
    width: 529px;
    float: left;
  }
  
  .footer_left li {
    float: left;
    padding: 11px 0px 30px 40px;
  }
  
  .footer_logo {
    width: 142px;
    float: left;
  }
  
  .footer_left li a {
    font-size: 12px;
    font-weight: 600;
  }
  
  .sns {
    width: 260px;
    float: right;
  }
  
  .sns li {
    float: left;
    padding: 13px 0 50px 30px;
    opacity: 0.4;
  }
  
  .sns li:hover {
    opacity: 0.8;
  }
