* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #171717;
}

body {
  min-width: 1320px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #171717;

}


/* 헤더 시작 */
#header.header-scrolled {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

#header {
  position: fixed;
  height: 80px;
  z-index: 99;
  width: 100%;
}

#header:hover {
  background: rgb(255, 255, 255);
}

.header_inner {
  width: 1140px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.header_inner li {
  float: left;
}

.header_inner li:nth-child(-n+3),
.header_inner li:nth-child(n+5) {
  padding: 34px 0 0 74px;

}

.header_inner a {
  font-size: 15px;
}

h1 {
  padding: 26px 0 0 81px;
}

.header_inner a:nth-child(-n+3):hover,
.header_inner a:nth-child(n+5):hover {
  color: #d1c1ac;


}

/* 헤더 슬라이더 */
.submenu_wrap {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100px;
}

.submenu_inner {
  position: relative;
  margin: auto;
  text-align: left;
  width: 1140px;
  height: 100px;

}

.submenu_inner ul {
  float: left;
  width: 140px;
}

.sub_left {
  position: absolute;
  left: 74px;
}

.sub_left ul:nth-child(1) {
  width: 115px;
}

.sub_left ul:nth-child(2) {
  width: 153px;
}

.sub_right {
  position: absolute;
  right: 100px;
}

.submenu ul li a {
  color: #796d60;
}

.submenu li a:hover {
  color: #d1c1ac;

}




/* 섹션1 */
#section1 {
  position: relative;
  margin:  auto;
  width: 1320px;
  height: 840px;
  padding: 127px 0 0 0;
  box-sizing: border-box;
}

.s1_text_img{
  width: 1320px;
}

.s1_text {
  float: left;
  width: 153px;
}

.s1_img {
  position: relative;
  float: right;
  width: 800px;
  display: block;
}

.s1_title {
  font-size: 30px;
  font-family: 'Noto Serif KR', serif;
  padding-bottom: 28px;
}

.s1_explan {
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.s1_en {
  font-family: 'Lora', serif;
  color: #BEBEBE;
  font-size: 13px;
  padding-bottom: 20px;
}

.s1_text a {
  padding-left: 1px;
}

.s1_leaf {
position: absolute;
bottom: 70px;
left: 400px;
right: 0;
}




/* 섹션 2 */
#section2 {
  width: 100%;
  height: 440px;
  background-color: #fdfdf6;
}

.s2_inner {
  margin: auto;
  padding: 67px 0;
  width: 300px;
  text-align: center;
  box-sizing: border-box;
}

.s2_title {
  padding-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #494949;
}

.s2_subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #494949;
}

.s2_speech {
  font-family: 'Noto Serif KR', serif;
  font-size: 17px;
  padding: 28px 0 35px 0;
  font-weight: 400;
}

.section2 b {
  font-weight: 600;
  color: #8a715a;
}




/* 섹션 3 */
#section3{
width: 1320px;
height: 570px;
margin: auto;
}

.s3_title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  width: 247px;
  height: 37px;
  padding: 10px 0 0 102px;
  margin: 60px auto 0;
  background: url(../images/sub/sub1_s3_leafs1.png) no-repeat center top;
}

.s3_inner{
  margin: auto;
  padding: 70px 75px 0 100px;
}

.s3_inner ul{
  float: left;
  width: 33.33%;;
  padding-top: 269px;
}

.s3_left{
  background: url(../images/sub/sub1_s3_left.png) no-repeat 10px 0;
}

.s3_center{
  background: url(../images/sub/sub1_s3_ceter.png) no-repeat 10px 0;
}

.s3_right{
  background: url(../images/sub/sub1_s3_right.png) no-repeat 10px 0;
}

.s3_inner li{
  padding-left: 15px;
}

.s3_subtitle{
  font-family:  'Lora', serif;
  font-size: 21px;
  color: #A37D5A;
}

.s3_explan{
 font-family: 'Noto Serif KR', serif;
 font-size: 15px;
 color: #494949;
}

.s3_explan b{
color: #889355;
}

.s3_leaf {
  position: relative;
  width: 1133px;
  margin: auto;
 
}

.s3_small{
  font-size: 12px;
  color: #494949;
  line-height: 18px;
  padding-top: 15px;
}

.s3_btn a {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
}

.s3_btn a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #A37D5A;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}

.s3_btn a:hover:before {
  transform: translatey(0) rotatex(0deg);
}

.s3_btn a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #8b6c4e;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}

.s3_btn a:hover:after {
  transform: translatey(100%) rotatex(90deg);
}


/* 섹션 4 */
.page-container{
  margin-top: 50px;
    width: 100%;
    height: 500px;
    background-color: #fdfdf6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form-container{
    width:860px;
    height: 540px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}

.login-form-left-side{
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.login-form-left-side .login-top-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}
.login-form-left-side .login-top-wrap span{
 color: #583E20;
    font-size: 20px;
    padding-right: 34%;

}

.login-input-container{
    padding-top: 70px;
    width:300px;
}
.login-input-container .login-input-wrap{
    width:300px;
    height: 45px;
    margin-top: 20px;
    border-radius: 2px;
    border-bottom: solid 2px #583E20;
   
}
.login-input-container .login-input-wrap i{
    color: #583E20;
    line-height: 45px;
}

.login-input-container .login-input-wrap input{
    background: none;
    border: none;
    line-height: 45px;
    padding-left:10px;
    width:267px;
}
.login-input-container .login-input-wrap input:focus{
    outline: none;
}
.login-btn-wrap{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.login-btn-wrap .login-btn{
    width:95px;
    height:35px;
    color:white;
    border: 0;
    border-radius: 4px;

    background: #583E20;
    background: linear-gradient(162deg, #866e52 0%, #7a5e3d 50%, #583E20 100%);
}

.login-btn-wrap a{
    margin-top:10px;
    text-decoration: none;
    font-size: 11px;
    color: gray;
}

.s4_leaf{
  width: 1133px;
  margin: auto;
}

/* 푸터 */
#footer {
    margin-top: 30px;
    border-top: 1px solid #ededed;
    text-align: center;
  }
  
  .footer_inner {
    width: 1320px;
    height: 138px;
    margin: auto;
    padding: 30px 0 0 40px;
    box-sizing: border-box;
  }
  
  .footer_left {
    width: 529px;
    float: left;
  }
  
  .footer_left li {
    float: left;
    padding: 11px 0px 30px 40px;
  }

  
  .footer_logo {
    width: 142px;
    float: left;
  }
  
  .footer_left li a {
    font-size: 12px;
    font-weight: 600;
  }

  
.footer_left li a:hover{
  color:#A78B6F;
}

  
  .sns {
    width: 260px;
    float: right;
  }
  
  .sns li {
    float: left;
    padding: 13px 0 50px 30px;
    opacity: 0.4;
  }
  
  .sns li:hover {
    opacity: 0.8;
  }