* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #171717;
}

body {
  min-width: 1320px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #171717;

}


/* 헤더 시작 */
#header.header-scrolled {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

/* 헤더 시작 */
#header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

#header:hover {
  background: rgb(255, 255, 255);
}

.header_inner {
  width: 1140px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.header_inner li {
  float: left;
}

.header_inner li:nth-child(-n+3),
.header_inner li:nth-child(n+5) {
  padding: 34px 0 0 74px;

}

.header_inner a {
  font-size: 15px;
  color: #ededed;
}

h1 {
  padding: 26px 0 0 81px;
}

.header_inner a:nth-child(-n+3):hover,
.header_inner a:nth-child(n+5):hover {
  color: #b1a395;

}

/* 헤더 끝 */


/* 헤더 슬라이더 */
.submenu_wrap {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 140px;
}


.submenu_inner {
  position: relative;
  margin: auto;
  text-align: left;
  width: 1140px;
  height: 140px;

}

.submenu_inner ul {
  float: left;
  width: 140px;
}

.sub_left {
  position: absolute;
  left: 74px;
}

.sub_left ul:nth-child(1) {
  width: 115px;
}

.sub_left ul:nth-child(2) {
  width: 153px;
}

.sub_right {
  position: absolute;
  right: 100px;
}

.submenu ul li a {
  color: #796d60;
}

.submenu li a:hover {
  color: #b1a395;
}

/* 섹션 1 */
#section1{
  width: 100%;
  height: 900px;
  background-color: #1C1A09;
  color: #EEEEEE;
  font-family: 'Lora', serif;
}

#section1_inner{
  width: 1320px;
  margin: auto;
  background: url(../images/sub/sub3_s1_treeicon.png) no-repeat 51.5% 13%;
}

.section1_left{ /*섹션1 왼쪽*/
float: left;
width: 216px;
padding: 207px 0 0 68px;

}


.s1_right{ /*섹션1 오른쪽*/
  position: relative; /*기준*/
  width: 1036px;
  float: right;
}

.s1_center_img{
  width: 380px;
  height: 560px;
  border: 0.8px solid #ECECEC;
  padding: 20px;
  border-radius: 211px;
}

.s1_big_title{
  position: absolute; 
  font-size: 100px;
  width: 544px;
  height: 290px;
  top: 50%;
  left: -65%;
  line-height: 100px;
  font-weight: 100;
}

.s1_right_left{
  position: absolute;
  width: 422px;
    top: 188px;
    left: 174px
}

.s1_center_title{
  position: absolute;
    bottom: 35px;
    left: 200px;
    width: 400px;
    background: url(../images/sub/sub3_s1_22icon.png) no-repeat 100% bottom;
    opacity: 0.9;
}

.s1_right_right{
  float: right;
  height: 863px;
  width: 300px;
  background: url(../images/sub/sub3_s1_right.png) no-repeat 30% 50% ;
}

.s1_rr_text{
  width: 190px;
  height: 300px;
  position: absolute;
  top: 260px;
  right: 195px;
  font-size: 20px;
}

.right_icon{
padding-top: 108px;
}

i{
  color: #EFEC78;
  font-family: 'Lora', serif;
  font-size: 20px;
}

.s1_rr_img{
  position: absolute;
  top: 57%;
  right: 1%;
}

#section2{
  width: 1320px;
  height: 830px;
  margin: auto;
  padding: 100px 0;
}


/* 푸터 */
#footer {
    margin-top: 132px;
    border-top: 1px solid #EEEEEE;
    text-align: center;
  }
  
  .footer_inner {
    width: 1320px;
    height: 138px;
    margin: auto;
    padding: 30px 0 0 40px;
    box-sizing: border-box;
  }
  
  .footer_left {
    width: 529px;
    float: left;
  }
  
  .footer_left li {
    float: left;
    padding: 11px 0px 30px 40px;
  }
  
  .footer_logo {
    width: 142px;
    float: left;
  }
  
  .footer_left li a {
    font-size: 12px;
    font-weight: 600;
  }
  
  .sns {
    width: 260px;
    float: right;
  }
  
  .sns li {
    float: left;
    padding: 13px 0 50px 30px;
    opacity: 0.4;
  }
  
  .sns li:hover {
    opacity: 0.8;
  }
