* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #171717;
}

body {
  min-width: 1320px;
  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #171717;

}


/* 헤더 시작 */
#header.header-scrolled {
  background-color: #1C1A09;
  transition: all 0.5s;
}

/* 헤더 시작 */
#header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

#header:hover {
  background-color: #1C1A09;
}

.header_inner {
  width: 1140px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.header_inner li {
  float: left;
}

.header_inner li:nth-child(-n+3), .header_inner li:nth-child(5), .header_inner li:nth-child(6) {
  padding: 34px 0 0 74px;}

.header_inner a {
  font-size: 15px;
   color: #EEEEEE;
}

.search-form{
  padding: 34px 0 0 18px;
}

h1 {
  padding: 26px 0 0 81px;
}

.header_inner a:nth-child(-n+3):hover,
.header_inner a:nth-child(n+5):hover {
  color: #b1a395;

}



/* 헤더 슬라이더 */
.submenu_wrap {
  width: 100%;
 background-color: #1C1A09;
  height: 100px;
}


.submenu_inner {
  position: relative;
  margin: auto;
  text-align: left;
  width: 1140px;
  height: 100px;

}

.submenu_inner ul {
  float: left;
  width: 140px;
}

.sub_left {
  position: absolute;
  left: 74px;
}

.sub_left ul:nth-child(1) {
  width: 115px;
}

.sub_left ul:nth-child(2) {
  width: 153px;
}

.sub_right {
  position: absolute;
  right: 100px;
}

.submenu ul li a {
  color: #796d60;
}

.submenu li a:hover {
  color: #b1a395;
}


/* 섹션 1 */
#section1{
  width: 100%;
  height: 900px;
  background-color: #1C1A09;
  color: #EEEEEE;
  font-family: 'Lora', serif;
}

#section1_inner{
  width: 1320px;
  margin: auto;
}

.section1_left{ /*섹션1 왼쪽*/
float: left;
width: 216px;
padding: 207px 0 0 68px;

}


.s1_right{ /*섹션1 오른쪽*/
  background: url(../images/sub/sub3_s1_treeicon.png) no-repeat 37.5% 13%;
  position: relative; /*기준*/
  width: 1036px;
  float: right;
}

.s1_center_img{
  width: 379px;
  height: 559px;
  border: 0.8px solid #ECECEC;
  padding: 20px;
  border-radius: 211px;
}

.s1_big_title{
  position: absolute; 
  font-size: 100px;
  width: 544px;
  height: 290px;
  top: 50%;
  left: -65%;
  line-height: 100px;
  font-weight: 100;
}

.s1_right_left{
  position: absolute;
  width: 422px;
    top: 188px;
    left: 174px
}

.s1_center_title{
  position: absolute;
    bottom: 35px;
    left: 200px;
    width: 400px;
    background: url(../images/sub/sub3_s1_22icon.png) no-repeat 100% bottom;
    opacity: 0.9;
}

.s1_right_right{
  float: right;
  height: 863px;
  width: 300px;
  background: url(../images/sub/sub3_s1_right.png) no-repeat 30% 50% ;
}

.s1_rr_text{
  width: 190px;
  height: 300px;
  position: absolute;
  top: 260px;
  right: 195px;
  font-size: 20px;
}

.right_icon{
padding-top: 108px;
}

i{
  color: #EFEC78;
  font-family: 'Lora', serif;
  font-size: 20px;
}

.s1_rr_img{
  position: absolute;
  top: 57%;
  right: 1%;
}




/* 섹션 2 */
#section2{
  width: 1320px;
  height: 760px;
  margin: auto;
  color: #1C1A09;
}

.s2_symbol{
 width: 170px;
  padding: 80px 43%;
}

hr{
border: 1px solid #1C1A09;
background-color: #1C1A09;
}

.hr_top{
  width: 1320px;
}

.s2_title{
  font-size: 20px;
  padding: 35px 0;
  text-align: center;}
  

.hr_center{
  width: 1200px;
  margin: auto;
}

.s2_text{
  position: relative;
  text-align: center;
  width: 1200px;
  height: 305px;
  margin: auto;
padding: 57px 0;
}

.s2_left{
  float: left;
  width: 350px;
  height: 297px;
  border-right: 2px solid #1C1A09;
}

.s2_left img{
  padding-top: 30px;
}

.s2_center{
  width: 500px;
  height: 297px;
   float: left;
  border-right: 2px solid #1C1A09; 
}

.s2_center p:nth-child(1){
  font-size: 15px;
  padding-top: 50px;
}

.s2_center p:nth-child(2){
  font-size: 35px;
   font-family: 'Lora', serif;
   font-weight: 400;
   padding: 30px 0;
}

.s2_center p:nth-child(3){
  font-size: 12px;

}

.s2_right{
    position: absolute;
    width: 350px;
    top: 100px;
    right: -35px;
}



/* 섹션 3 */
/* 왼쪽 메뉴 접었다 폈다.*/
#section3{
 width: 1320px;
 height: 1360px;
 margin: auto;
}

#section3_left{
  width: 200px;
  float: left;
}

.s3_title{ /* 섹션3 큰 타이틀 */
  padding: 130px 0 90px 0;
  text-align: center;
}


 .answer {
    display: none;
    padding-bottom: 20px;
  }
 
  .faq-content {
    width: 170px ;
    border-bottom: 1px solid #e0e0e0;
  }

  .category2{
    width: 200px ;
    padding-top: 20px;
 }

  /* 카테고리 글자 꾸미기 */
  .filters_text {
    font-size: 26px;
    color: #171717;
  }

  .category_text p{
    float: left;
  }

  .category_text p:nth-child(1){
    font-size: 19px;
    padding-right: 30px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .category_text p:nth-child(2){
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
  }

  .category_check{padding-top: 30px;}
  
  .question {
    font-size: 26px;
    padding:  0 0px 20px 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    text-align: left;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  }

  .question:hover {
    color: #889355;
  }
  [id$="-toggle"] {
    margin-left: 80px;
  }


/* 체크리스트 */
.checkbox_container
{
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    cursor: pointer;
    display: block;
    position: relative;
    /* #Bug: Cross Browser */
    user-select: none;
    font-size: 13px;
    font-weight: 400;
}
.checkbox_container .checkbox_mark
{
   width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    position: absolute;
    background-color: #eeeeee;
     /* #Bug: Cross Browser */
    border-radius: 23px;
}
.checkbox_container:hover input ~ .checkbox_mark
{
    background-color: #cccccc;
}
.checkbox_container input:checked ~ .checkbox_mark
{
    background-color: #BC9778;
}
.checkbox_container input
{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox_container .checkbox_mark:after
{
    display: none;
    content: "";
    /*
    position: absolute;
    */
    position: relative;
}
.checkbox_container input:checked ~ .checkbox_mark:after
{
    display: block;
}
.checkbox_container .checkbox_mark:after
{
    width: 3px;
    height: 7px;
    top: 4px;
    left: 8px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0;
    /* #Bug: Cross Browser */
    /*
    transform: rotate(405deg);
    */
    transform: rotate(45deg);
}



/* 상품 리스트 */
#section3_right{
  width: 915px;
  float: left;
  padding-left: 21px;
}
#section3_right .item_box{
  display: flex;
  flex-wrap: wrap;/* 상위요소의 너비보다 하위요소의 너비가 크면 줄바꿈 */
  justify-content: space-between;
  position: relative;
}

#section3_right .item_box .card{
  border: 1px solid #171717;  /*테두리 색상*/
  height: 330px;
  width: 285px;
  margin-bottom: 25px;
}

.product_img{
  height: 287px;
  width: 285px;
  border-bottom: 1px solid;
}

.product_text{padding-top: 8px;}

.product_text:hover{
 color: #BC9778;
}

.product_text p:nth-child(1){
  font-size: 14px;
  float: left;
  padding: 0 80px 0 16px;
}

.product_text p:nth-child(2){
  font-size: 12px;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.new{
  position: absolute;
  top: 27px;
  left: 24px;
  animation: blink-effect 1s step-end infinite;
}
/* 깜빡이는 효과 - Blink Effect */






/* 푸터 */
#footer {
    margin-top: 132px;
    border-top: 1px solid #EEEEEE;
    text-align: center;
  }
  
  .footer_inner {
    width: 1320px;
    height: 138px;
    margin: auto;
    padding: 30px 0 0 40px;
    box-sizing: border-box;
  }
  
  .footer_left {
    width: 529px;
    float: left;
  }
  
  .footer_left li {
    float: left;
    padding: 11px 0px 30px 40px;
  }
  
  .footer_logo {
    width: 142px;
    float: left;
  }
  
  .footer_left li a {
    font-size: 12px;
    font-weight: 600;
  }
  
  .sns {
    width: 260px;
    float: right;
  }
  
  .sns li {
    float: left;
    padding: 13px 0 50px 30px;
    opacity: 0.4;
  }
  
  .sns li:hover {
    opacity: 0.8;
  }
