* {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #171717;
  }
  
  body {
    min-width: 1320px;
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #171717;
  
  }
  
  
 /* 헤더 시작 */
 #header.header-scrolled {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

#header {
  position: fixed;
  height: 80px;
  z-index: 99;
  width: 100%;
}

#header:hover {
  background: rgb(255, 255, 255);
}

.header_inner {
  width: 1140px;
  height: 80px;
  margin: auto;
  text-align: center;
}

.header_inner li {
  float: left;
}

.header_inner li:nth-child(-n+3),
.header_inner li:nth-child(n+5) {
  padding: 34px 0 0 74px;

}

.header_inner a {
  font-size: 15px;
}

h1 {
  padding: 26px 0 0 81px;
}

.header_inner a:nth-child(-n+3):hover,
.header_inner a:nth-child(n+5):hover {
  color: #d1c1ac;

}


/* 헤더 슬라이더 */
.submenu_wrap {
width: 100%;
background-color: rgb(255, 255, 255);
height: 100px;
}

.submenu_inner {
position: relative;
margin: auto;
text-align: left;
width: 1140px;
height: 100px;

}
.submenu_inner ul {
  float: left;
  width: 140px;
}

.sub_left {
  position: absolute;
  left: 74px;
}

.sub_left ul:nth-child(1) {
  width: 115px;
}

.sub_left ul:nth-child(2) {
  width: 153px;
}

.sub_right {
  position: absolute;
  right: 100px;
}

.submenu ul li a {
  color: #796d60;
}

.submenu li a:hover {
  color: #d1c1ac;

}




  /* 섹션 1 */
  #section1{
      margin: auto;
      width: 1320px;
      height: 690px;

  }

  .s1_left{
    float: left;
    width: 600px;
    height: 552px;
    margin-top: 30px;
  }

.s1_left p:nth-child(1){
    margin-top: 360px;
    font-family: 'Lora', serif;
    font-size: 50px;
    padding-bottom: 50px;}

.s1_left p:nth-child(2){
    font-size: 16px;
    padding-left: 5px;
}


.s1_right{
    position: relative;
    margin-top: 162px;
    width: 661px;
    height: 370px;
    float: left;
}

.s1_category{
position: absolute;
top: 56%;
right: 7%;
}

.s1_category a{
  color: #fff;
text-shadow: 1px 1px 2px rgb(178 166 146);
}

.s1_right p{
   padding:8px 0 0 0 ;
}

/* 섹션2 */
#section2{
    width: 1320px;
    height: 950px;
    margin: auto;
}

#s2_icon ul{  
   margin-left: 130px;
    }

#s2_icon li{
    float: left;
   margin-left: 83px;
  
}

#s2_inner{
  width: 1320px;
  margin: auto;
  position: relative;
}

.s2_title{
  position: absolute;
  font-family: 'Noto Serif KR', serif;
  font-size: 38px;
  width: 159px;
    top: 250px;
    left: 150px;
}

.faq_wrap{
  width: 750px;
 position: absolute;
 top: 220px;
  left: 32%;
}

.q_inner{
  background: url(../images/sub/sub4_s2_qna_q_btn.png) no-repeat 0% 50% ;
  width: 750px;
    padding: 30px 0 0 60px;
    height: 60px;
    font-size: 20px;
    font-family: 'Noto Serif KR', serif;

}

.a_inner{
  background: url(../images/sub/sub4_s2_qna_a_btn.png.png) no-repeat 0% 4% ;
    width: 750px;
    padding: 5px 0 30px 60px;
    height: 60px;
    font-size: 14px;
    border-bottom: 2px dotted #171717;
}

#section3{
  width: 1320px;
  height: 386px;
  margin: auto;
  background: url(../images/sub/sub4_s3_bg.png) no-repeat center top;
  position: relative;
}

.s3_title{
  position: absolute;
  top: 80px;
  left: 481px;
}

.s3_title img{
  width: 327px;
}

.s3_text, .s3_btn{
  text-align: center;
  padding-top: 125px;
}

.s3_text p:nth-child(1){
 color: #544745;
 font-size: 15px;
}

.s3_text p:nth-child(2){
  color: #a8a5a4;
  font-size: 15px;
 }

 


 /* 섹션3 클릭 온미 버튼 */
 :active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 53px auto 35px;
}
.btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 110px 25px 15px;
  min-width: 150px;
}
  .btn span {         
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
  }

.btn-4 span {
  color: #74685a;
  background-color: rgb(251,251,251);
}
.btn-4 span:hover {
  color: rgb(100, 133, 83);
}
.btn-4::before,
.btn-4::after {
  width: 15%; height: 2px;
  background-color: rgb(100, 133, 83);
  z-index: 2;
}

.btn.hover-border-6::before,
.btn.hover-border-6::after {
  top: 0;
  transition: width 0.2s 0.35s ease-out;
}
.btn.hover-border-6::before {
  right: 50%;
}
.btn.hover-border-6::after {
  left: 50%;
}
.btn.hover-border-6:hover::before,
.btn.hover-border-6:hover::after {
  width: 50%;
  transition: width 0.2s ease-in;   
}

.btn.hover-border-6 span::before,
.btn.hover-border-6 span::after {
  width: 0%; height: 0%;
  background: transparent;
  opacity: 0;
  z-index: 2;
  transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s 0.35s;
}
.btn.hover-border-6 span::before {
  top: 0; left: 0;
  border-left: 2px solid rgb(100, 133, 83);
  border-bottom: 2px solid rgb(100, 133, 83);
}
.btn.hover-border-6 span::after {
  top: 0; right: 0;
  border-right: 2px solid rgb(100, 133, 83);
  border-bottom: 2px solid rgb(100, 133, 83);
}
.btn.hover-border-6 span:hover::before,
.btn.hover-border-6 span:hover::after {
  width: 50%; height: 96%;
  opacity: 1;
  transition: height 0.2s 0.2s ease-in, width 0.2s 0.4s linear, opacity 0s 0.2s;   
}

/* 섹션4 */
#section4{
  width: 1320px;
  height: 470px;
  margin: 110px auto 0;
  position: relative;
}

.s4_left{
  width: 335px;
  position: absolute;
  top: 12%;
  left: 22%;
}

.s4_left img{
  width: 266px;
}

.s4_text p{
  width: 335px;
  height: 25px;
  padding: 0px 0 0px 18px;}

.s4_text p:nth-child(1){
padding: 20px 0 0 17px;
 background: url(../images/sub/sub4_s4_payphone.png) no-repeat 0 28px;
}

.s4_text p:nth-child(2){
  background: url(../images/sub/sub4_s4_map_icon.png) no-repeat 0 6px;
}

.s4_right{
  width: 800px;
  position: absolute;
  left: 50%;
  opacity: 0.8;
}

.s4_right img{
  width: 502px;
  opacity: 0.9;
}



/*지도 바로가기 버튼*/
.map_btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font: inherit;
  letter-spacing: inherit;
  margin: 21px 12px;
    padding: 8px 12px;
  text-transform: inherit;
  transition: color 1s;
}


.map_btn-1 {
  color: #7d9135;
}
.map_btn-1:hover {
  -webkit-animation: sawtooth 0.35s infinite linear;
          animation: sawtooth 0.35s infinite linear;
  background: linear-gradient(45deg, #e4f1b1 0.5em, transparent 0.5em) 0 0/1em 1em, linear-gradient(-45deg, #dbeba0 0.5em, transparent 0.5em) 0 0/1em 1em;
  color: #a4b370;
}

@-webkit-keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

@keyframes sawtooth {
  100% {
    background-position: 1em 0;
  }
}

/* 섹션 5 */
#section5{
  width: 1000px;
  height: 180px;
  margin: auto;
}


.s5_btn li{
  float: left;
  width: 200px;
  height: 136px;
  text-align: center;
  padding: 35px 0 0 0;
}

.s5_btn li:nth-child(2){
  background: url(../images/sub/sub4_s5_left.png) no-repeat 50% 0%;
}

.s5_btn li:nth-child(3){
  background: url(../images/sub/sub4_s5_middle.png) no-repeat 50% 0%;
}

.s5_btn li:nth-child(4){
  background: url(../images/sub/sub4_s5_right.png) no-repeat 50% 0%;
}

.s5_btn li a{
  width: 55px;
  color: #fff;
}

/* 지도애니매이션 */
.wrap {text-align: center; margin-top: 20px;}
.chatbox {
  animation: motion 0.3s linear 0s infinite alternate; margin-top: 0;
position: absolute;
top: 97px;
right: 340px;}
        
@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
}




  
/* 푸터 */
#footer {
  margin-top: 90px;
  border-top: 1px solid #ededed;
  text-align: center;
}

.footer_inner {
  width: 1320px;
  height: 138px;
  margin: auto;
  padding: 30px 0 0 40px;
  box-sizing: border-box;
}

.footer_left {
  width: 529px;
  float: left;
}

.footer_left li {
  float: left;
  padding: 11px 0px 30px 40px;
}

.footer_logo {
  width: 142px;
  float: left;
}

.footer_left li a {
  font-size: 12px;
  font-weight: 600;
}

.footer_left li a:hover{
  color:#A78B6F;
}


.sns {
  width: 260px;
  float: right;
}

.sns li {
  float: left;
  padding: 13px 0 50px 30px;
  opacity: 0.4;
}

.sns li:hover {
  opacity: 0.8;
}








