* {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #171717;
  }
  
  body {
    min-width: 1320px;
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #171717;
  
  }
  
  
  /* 헤더 시작 */
  #header.header-scrolled {
    background: rgb(255, 255, 255);
    transition: all 0.5s;
  }
  
  #header {
    position: fixed;
    height: 80px;
    z-index: 99;
    width: 100%;
  }
  
  #header:hover {
    background: rgb(255, 255, 255);
  }
  
  .header_inner {
    width: 1140px;
    height: 80px;
    margin: auto;
    text-align: center;
  }
  
  .header_inner li {
    float: left;
  }
  
  .header_inner li:nth-child(-n+3),
  .header_inner li:nth-child(n+5) {
    padding: 34px 0 0 74px;
  
  }
  
  .header_inner a {
    font-size: 15px;
  }
  
  h1 {
    padding: 26px 0 0 81px;
  }
  
  .header_inner a:nth-child(-n+3):hover,
  .header_inner a:nth-child(n+5):hover {
    color: #B6A58E;
  
  }
  
  /* 헤더 슬라이더 */
  .submenu_wrap {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
  }
  
  .submenu_inner {
    position: relative;
    margin: auto;
    text-align: left;
    width: 1140px;
    height: 100px;
  
  }
  
  .submenu_inner ul {
    float: left;
    width: 140px;
  }
  
  .sub_left {
    position: absolute;
    left: 74px;
  }
  
  .sub_left ul:nth-child(1) {
    width: 115px;
  }
  
  .sub_left ul:nth-child(2) {
    width: 153px;
  }
  
  .sub_right {
    position: absolute;
    right: 100px;
  }
  
  .submenu ul li a {
    color: #796d60;
  }
  
  .submenu li a:hover {
    color: #B6A58E;
  }

  

/* 섹션1 */
.sub5_title{
    margin: auto;
    width: 1200px;
    height: 200px;
    padding: 150px 0 0 35px;
    box-sizing: border-box;
    font-size: 30px;
    border-bottom: 1px solid #6666;
}


#section1{
    width: 100%;
    background-color: #FBFBFB ;
    margin-top: 40px;
}

.s1_inner{
    margin: auto;
    background: url(../images/sub/sub5_s1_bg.png) no-repeat center 160px;
    height: 1112px;
    color: #4A614F;
    text-align: center;
    position: relative;
}



/* 섹션2 */
#section2{
    width: 100%;
    background-color: #A0AB7A;
   height: 428px;
   text-align: center;
   color: #ffff;
}

.s2_inner{
    width: 1320px;
    margin: auto;
    padding: 114px 0;
    box-sizing: border-box;}

.s2_explan{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.s2_bold {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
}

.s2_bold b{
    color: #FFF831;
}

/* 섹션3 */
#section3{
    width: 1320px;
    height: 1100px;
    margin: 130px auto 0;
    background: url(../images/sub/sub5_s3.png) no-repeat center 50%;
    text-align: center;
}

.s3_text p:nth-child(1){
    color: #544533;
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 40px;
}

.s3_text p:nth-child(2){
    color: #544533;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
}

/* 버튼 */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
    margin: 785px 0 0 0;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 11px 21px;
    background: #cfc1ad;
    border: 2px solid #544533;
    border-radius: 19px;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 85%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #96887b;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #544533, 0 0.625em 0 0 #e6e6e6;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ebe3da;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #544533, 0 0.5em 0 0 #c5c5c5;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ebe3da;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #544533, 0 0 #c5c5c5;
  transform: translate3d(0, 0, -1em);
}

button.learn-more a{
    color: #fff
}


button.learn-more a:hover{
   color: #544533;
}



  
  /* 푸터 */
  #footer {
      margin-top: 30px;
      border-top: 1px solid #ededed;
      text-align: center;
    }
    
    .footer_inner {
      width: 1320px;
      height: 138px;
      margin: auto;
      padding: 30px 0 0 40px;
      box-sizing: border-box;
    }
    
    .footer_left {
      width: 529px;
      float: left;
    }
    
    .footer_left li {
      float: left;
      padding: 11px 0px 30px 40px;
    }
    
    .footer_logo {
      width: 142px;
      float: left;
    }
    
    .footer_left li a {
      font-size: 12px;
      font-weight: 600;
    }
    
    .sns {
      width: 260px;
      float: right;
    }
    
    .sns li {
      float: left;
      padding: 13px 0 50px 30px;
      opacity: 0.4;
    }
    
    .sns li:hover {
      opacity: 0.8;
    }
